body {
    margin: 0;
    background-image: url(./photos/Background.jpg);
    background-size: 100vw;
    height: 100vh;
    text-align: center;
}

@font-face {
    font-family: persian;
    src: url(./fonts/IRANSans.woff2);
}

* {
    font-family: persian;
}

.home {
    padding: 0.4em;
    font-size: 1.5em;
}

.home a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.2em;
}

.home a:hover {
    border-radius: 0.5em;
    background-color: #ffffff62;
}

.login {
    background-color: rgba(255, 255, 255, 0.45);
    border: 1px solid rgb(223, 223, 223);
    padding: 1em;
    border-radius: 0.3em;
    width: 300px;
    box-shadow: 0 0 10px rgb(54, 54, 54);
    position: relative;
    top: 45%;
    right: 50%;
    transform: translate(50%, -50%);
}

.login a {
    text-decoration: none;
    color: white;
}

.login input {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0;
    padding: 0.5em;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 0.5em;
    box-shadow: 0 0 5px rgba(119, 0, 255, 0.588) inset;
}

.login input:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(255, 0, 251);
}

.mobile>div {
    display: none;
    position: relative;
    top: -1.1em;
    padding: 0.3em;
    background-color: rgba(39, 39, 39, 0.664);
    color: rgb(253, 250, 37);
    border: 1px solid wheat;
    border-radius: 0.5em;
    font-size: 0.7em;
}

.mobile input:focus+div {
    display: initial;
}

.login button {
    background-color: rgb(0, 132, 255);
    width: 100%;
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 1.8em 0;
}

.login button:hover {
    background-color: #0245ff;
}

.change button {
    width: fit-content;
    margin: 1.5em 0 0 0;
    /* margin-top: 1.5em; */
    background-color: rgb(18, 252, 42);
}

.change a {
    font-size: 1.1em;
    color: rgb(255, 255, 255);
}

.change button:hover {
    background-color: rgb(15, 151, 0);
}

.forget {
    margin: 0.5em 0;
    font-size: 0.6em;
}

.forget a {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 0.5em;
    border-radius: 0.5em;
}

.forget a:hover {
    color: white;
    background-color: rgb(0, 0, 0);
}

.forget1 button {
    width: 49%;
    margin: 1.5em 0 0 0;
    /* margin-top: 1.5em; */
}

.forget1 button+button {
    background-color: rgba(95, 95, 95, 0.45);
}

.forget1 button+button:hover {
    background-color: rgba(0, 0, 0, 0.538);
}