body {
    margin: 0;
}

@font-face {
    font-family: persian;
    src: url(/css/fonts/IRANSans.woff2);
}

.l1,
.l2,
.l3 {
    display: block;
}

div,
img,
form {
    display: inline-block;
}


.l1 {
    background: #278227;
    background: linear-gradient(90deg, rgba(39, 130, 39, 1) 0%, rgba(2, 61, 2, 1) 100%);
    height: 40px;
}

.d1,
.d2 {
    width: 33%;
    text-align: center;
    margin-top: 8px;
    color: rgb(255, 255, 255);
}

.d2 {
    border-right: 2px solid rgba(255, 255, 255, 0.56);
    border-left: 2px solid rgba(255, 255, 255, 0.56);
}


.i1 {
    width: 10%;
    margin-top: 8px;
    margin-right: 12%;
}

.d3 {
    color: rgba(128, 128, 128, 0.245);
    margin-right: 57%;
}

.i2 {
    width: 3%;
    margin-bottom: 20px;
    margin-right: 1%;
}


.d4 {
    margin-top: 30px;
    margin-right: 12%;
}

.d5 {
    padding-right: 2%;
}

.text {
    margin-right: 80%;
    color: rgba(128, 128, 128, 0.373);
    border: 0px solid white;
    padding-left: 67%;
}

.submit {
    margin-right: 15%;
}


.i3 {
    width: 100%;
    margin-top: 30px;
}


.l2 {
    background: #ff0000;
    background: linear-gradient(90deg, rgba(255, 0, 0, 1) 0%, rgba(145, 9, 9, 1) 100%);
    height: 330px;
    margin: 50px 14%;
}

.d6 {
    width: 5%;
    color: white;
    margin-right: 2%;
}

.d7,
.d9 {
    width: 1%;
    color: white;
}

.d8 {
    width: 14%;
    height: 275px;
    background-color: white;
    margin-top: 20px;
}

.i4 {
    width: 100%;
}

.d10 {
    display: block;
    text-align: center;
}

.d11 {
    display: block;
    color: rgb(255, 0, 0);
    text-align: center;
}


.l3 {
    margin: 50px 14%;
}

.d12 {
    margin-right: 12%;
}

.i5 {
    width: 25%;
}

.d14 {
    display: block;
    margin-right: 27%;
    color: rgba(128, 128, 128, 0.373);
}

.home {
    font-family: persian;
    position: absolute;
    top: -1px;
}

.home a {
    text-decoration: none;
    color: #ffffff80;
}

.home a:hover {
    color: white;
}